@mixin texto-parrafo-header {font-family: "Metal", serif;
font-weight: normal;
font-style: normal;}

body {background-color: white;};

    .logo-1 img {width: 20%;}
    
    .logo-1 {display: flex;
    justify-content: center;
    margin-top: 2%;}
    
    header{
        nav{
            div{
                .link {display: flex;
                    flex-flow:wrap;
                    @include texto-parrafo-header();
                    justify-content:center;
                    list-style: none;
                    font-size: 180%;
                    padding: 1%;
                    color: black;
                    }
                    
                    li {margin: 1%;}
                    
                    .enlace {color: green; text-decoration: none;}
                    .enlace:hover{color: black;}
                }
            }
        }