@mixin propiedades-grid-item {
justify-content: center;
align-self: center;    
}

.grid-container {margin-top: 2%;
    margin-bottom: 5%;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 20% 20% 20% 20% 20%;
    row-gap: 10%;
    column-gap: 5%;
    padding-top: 4%;
    padding-bottom: 4%;}

    .gridimagen {width: 90%; height: 90%;}

    .grid-item-texto-1 {grid-row: 1 / 2;
    grid-column: 1 / 2;
    @include propiedades-grid-item();
    margin-left: 10%;}

    .grid-item-video-1 {grid-row: 1 / 2;
    grid-column: 2 / 3; 
    @include propiedades-grid-item();
    margin-right: 10%;}

    .grid-item-texto-2 {grid-row: 2 / 3;
    grid-column: 2 / 3;
    @include propiedades-grid-item();
    margin-right: 10%;}

    .grid-item-video-2 {grid-row: 2 / 3;
    grid-column: 1 / 2;
    @include propiedades-grid-item();
    margin-left: 15%;}

    .grid-item-texto-3 {grid-row: 3 / 4;
    grid-column: 1 / 2;
    @include propiedades-grid-item();
    margin-left: 10%;}
        
    .grid-item-video-3 {grid-row: 3 / 4;
    grid-column: 2 / 3;
    @include propiedades-grid-item();
    margin-right: 10%;}
        
    .grid-item-texto-4 {grid-row: 4 / 5;
    grid-column: 2 / 3;
    @include propiedades-grid-item();
    margin-right: 10%;}
            
    .grid-item-video-4 {grid-row: 4 / 5;
    grid-column: 1 / 2;
    @include propiedades-grid-item();
    margin-left: 15%;}
